:root{
    --bg-color: rgb(254, 251, 246)
}

@font-face {
    font-family: "GowunBatangBold";
    src: url("../resources/GowunBatangBold.ttf");
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);  
    overflow: hidden;
}

div {
    text-align: center;
}




label {
    font-size: 180%;
    font-family: "GowunBatangBold";
    vertical-align: middle;
    line-height: 200%;
}

img {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: 1;
}

input[type="button"] {
    
    background-color: #f1e5d4; /*  */
    border: none;
    border-radius: 20px;
    color: black;
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "GowunBatangBold";
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;}

#checkbox_div {
    text-align: center;
}

input[type=checkbox] {
    zoom: 3;
}

/* <input type="text" id="name_field"><br><br><br> */
#name_field {
    width: 350px;
    height: 100px;
    font-size: 20px;

}